.header {
    width: 100%; height: auto;
    background-color: rgb(42,42,42);
    display: flex; justify-content: space-between;
    color: #cdcccc;
    font-size: x-small;
}

.header ul {
    
    display: flex; justify-content: center; align-items: center;
    list-style-type: none;
}

.header ul li {
    height: 100%;
    padding: 20px 20px 20px 20px; 
}

.line-y {
    height: 30px; margin: 0 10px 0 10px;
    border-left: 1px solid #cdcccc;
}

.download {
    background-color: rgb(0, 115, 255); color: #d9eef3;
}

/* ================================================================================================================================== */

.sticky {
    display: flex;
    color: #cdcccc;
    font-size: smaller;
}

.sticky ul {
    display: flex; justify-content: center; align-items: center;
    list-style-type: none;
}

.sticky ul li {
    margin: 30px 15px 30px 15px;
}

.sticky input {
    width: 200px;
    background-color: #202020;
    border: none; border-radius: 20px;
    padding: 12px;
}