@import url(layout.css);
@import url(component.css);

*, *::before, *::after {
    box-sizing: border-box; margin: 0; padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

body {
    background-color: rgb(18,18,17);
    color: white;
    font-family: Montserrat;
}